.section.toc:before {
  content: "KADAS Albireo Technical Documentation";
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5em;
  display: block;
}

.section.toc .page {
    display: none;
}
